[submodule "ext/libsoundio-sharp"]
	path = ext/libsoundio-sharp
	url = https://github.com/allisterb/libsoundio-sharp.git
[submodule "ext/BrowserSharp"]
	path = ext/BrowserSharp
	url = https://github.com/allisterb/BrowseSharp.git
