[submodule "ext/libsoundio-sharp"]
	path = ext/libsoundio-sharp
	url = https://github.com/allisterb/libsoundio-sharp.git
[submodule "ext/BrowserSharp"]
	path = ext/BrowserSharp
	url = https://github.com/allisterb/BrowseSharp.git
[submodule "ext/RtAudioNet"]
	path = ext/RtAudioNet
	url = https://github.com/allisterb/RtAudioNet.git
[submodule "ext/PortAudio.Net"]
	path = ext/PortAudio.Net
	url = https://github.com/allisterb/PortAudio.Net.git
[submodule "ext/canopy"]
	path = ext/canopy
	url = https://github.com/allisterb/canopy.git
[submodule "ext/nledger"]
	path = ext/nledger
	url = https://github.com/allisterb/nledger.git
[submodule "ext/readline"]
	path = ext/readline
	url = https://github.com/wwestlake/readline.git
[submodule "ext/ffdc-sample-csharp"]
	path = ext/ffdc-sample-csharp
	url = https://github.com/fusionfabric/ffdc-sample-csharp.git
[submodule "ext/ntwain"]
	path = ext/ntwain
	url = https://github.com/allisterb/ntwain.git
